body {
    margin: 0;
    background-color: black;
    color: #fff;
}

.imagem {
    width: 100%;
}

.navbar {
    background-color: rgb(101, 140, 141);
    padding: 20px;
}

a {
    text-decoration: nome;
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 50px;
}

.sobre {
    margin: 20px;

}

footer {
    margin: 10px;
    text-align: center;
}